<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fila" href="/peluquero/fila">
      <ion-icon aria-hidden="true" name="reader"></ion-icon> 
      <ion-label>Fila</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios" href="/peluquero/servicios">
      <ion-icon aria-hidden="true" name="cut"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservas" href="/peluquero/reservas">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/peluquero/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
