


<ion-content [fullscreen]="true">

  <h1 color="primary" class="header-title-basic">Horarios</h1>
  <ion-label style="margin-left: 10px;">Define tus horarios de trabajo</ion-label>
  <ion-card>
    <ion-accordion-group>
      <ion-item *ngFor="let horario of horarios">
        <!-- <ion-label>{{ horario.da }}</ion-label> -->
      </ion-item>
      
      

      <ion-accordion *ngFor="let dia of dias; let i = index" [value]="'accordion-' + i">
        <ion-item id="dia"  slot="header">
          
          <ion-checkbox id="Checkbox_Dia" justify="start" labelPlacement="end" 
                        [(ngModel)]=" horario[dia].seleccionado"
                        (click)="detenerPropagacion($event)">          
          </ion-checkbox>
          {{ dia }}
        </ion-item>
        <div class="ion-padding" slot="content">
          
          <ion-button class="seleccionar" slot="end" size="small" (click)="toggleAllHoras(dia)" [disabled]= "!horario[dia].seleccionado">
            {{ horario[dia].horas.length === horas.length ? 'Deseleccionar' : 'Seleccionar' }} todas las horas 
          </ion-button> 
          <ion-checkbox id="horas" *ngFor="let hora of horas" justify="space-between"
                        [disabled]="!horario[dia].seleccionado"
                        [checked]="horario[dia].horas.includes(hora)"
                        (ionChange)="toggleHora(dia, hora)"
                        >
            {{ hora }}
          </ion-checkbox>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
  
  <div class="boton">
  <ion-button class="guardar" (click)="guardarHorario()">
    Guardar Horario
  </ion-button>
    </div>
</ion-content>


<!-- 
<ion-content>
  <ion-list>
    <label >fd</label>
    <ion-item *ngFor="let dia of horarios">
      <ion-label>
        <h2>{{ dia }}</h2>
        <p>Fecha: {{ dia.fecha }}</p>
        <p>Creado: {{ dia.created_at }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



<ion-content>
  <ion-list>
    <label >fd</label>
    <ion-item *ngFor="let dia of horarios">
      <ion-label>
        <h2>{{ dia }}</h2>
        <p>Fecha: {{ dia.fecha }}</p>
        <p>Creado: {{ dia.created_at }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->