#Checkbox_Dia{
    max-width: 25px;

    

    
    }

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
.header-title {
    font-size: 30px;
    font-weight: bold; 
    text-align: center;
    margin-top: 35px;
    font-family: "Aclonica";
      }
#dia{
    font-size: 25px;
    font-weight: bold;
}
  
#horas{
    font-size: 28px;
}

.ion-accordion-group{
    border-radius: 10px;
}

    