//@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  
}


h1 {
  font-family: "Aclonica";
  font-size: bold;
  text-align: center;
  margin-top: 10px;
}

.label-hora {
  font-size: 20px;
}

ion-select {
  margin-top: 10px;
  width: 100px;
}

.botones {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espaciado superior para separar de la lista */
}

ion-button {
  --background: #002EFF;
  --border-radius: 10px;
  width: 80%;
  font-weight: bold;
  margin: 5px; /* Espaciado entre botones */
}

ion-button {
  color: white; /* Texto blanco por defecto */
}



.label-fecha {
  font-size: 20px;
  display: block;
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que el label ocupe todo el ancho del contenedor */
  margin-bottom: 8px; /* Espacio para separar del calendario */
}

.label-hora {
  font-size: 20px;
  display: block;
  text-align: center; /* Centra el texto */
  width: 100%; /* Asegura que el label ocupe todo el ancho del contenedor */
  margin-bottom: 8px; /* Espacio para separar del calendario */
}

.fecha {
  display: flex;
  justify-content: center;
  /* width: 230px;
  height: 230px; */
}

.hora{
  display: flex;
  justify-content: center;
}