<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>neoZita</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="./login.page.scss">
</ion-header> -->

<ion-content >
  <div class="container">
    <!-- Fondo animado -->
    <div class="background-pattern"></div>

    <!-- Elementos decorativos -->
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/images/neo.png" alt="Barbería Logo">
    </div>
    <!-- Área de contenido -->
    <div class="content">
      <div class="login-box">
        <form (submit)="login()">
          <h2>INICIAR SESION</h2>
          <ion-label for="email">Email</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email" required></ion-input>
          </ion-item>

          <br>

          <ion-label for="password">Password</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
          </ion-item>

          <br>

          <ion-button type="submit" class="login-btn">Iniciar</ion-button>

          <br>
          <div class="link-container">
            <a href="/passrecovery">Olvidaste tu contraseña?</a>
          </div>
        </form>
      </div>
      
    </div>
    <ion-button  fill="outline" class="custom-button">
      <ion-icon slot="start" name="person"></ion-icon>
      Registrarse
    </ion-button>
  </div>
</ion-content>




<!-- <ion-header [translucent]="true">
  
    <ion-title>Inicio de de sesion</ion-title>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="Input with clear button"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter text to see clear button"
        value="Default value"
      >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
        label="Input with clear on edit"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder="Enter text, leave the input, come back and type to clear"
      >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
        label="Password input"
        labelPlacement="stacked"
        type="password"
        placeholder="Enter text, leave the input, come back and type to clear"
      >
      </ion-input>
    </ion-item>
  </ion-list>

</ion-content> -->