<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>neoZita</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="./login.page.scss">
</ion-header> -->

<ion-content>
  
  <div class="container">
    <!-- Fondo animado -->
    <div class="background-pattern"></div>

    <!-- Elementos decorativos -->
    <div class="red-circle"></div>
    <div class="blue-circle"></div>

    <!-- Herramientas de barbería -->
  
    <!-- Área de contenido -->
    <div class="content">
      
        <form>
          <div>
          <h2>Iniciar Sesion</h2>
          <ion-label for="email">Correo</ion-label>
          <ion-item>
            <ion-input type="email" placeholder="Correo Electrónico" required></ion-input>
          </ion-item>
          
          <br>
          
          <ion-label for="password">Contraseña</ion-label>
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" required></ion-input>
            </ion-item>
          
            <br>

          <ion-button  type="submit">Iniciar Sesión</ion-button>
         
          <br>
          <div class="link-container">
            <!-- hay que redireccionar bien esto -->
            <a href="/passrecovery">¿Olvidaste la contraseña?</a> 
          </div>
        </div>
        </form>
                
      </div>
    </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col size="auto">
          <ion-button fill="clear" class="nav-button">
             <lucide-home class="icon"></lucide-home> 
            <ion-label class="text-xs">Inicio</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" class="nav-button">
            <lucide-calendar class="icon"></lucide-calendar> 
            <ion-label class="text-xs">Reservar</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" class="nav-button">
            <lucide-scissors class="icon"></lucide-scissors> 
            <ion-label class="text-xs">Servicios</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" class="nav-button">
             <lucide-user class="icon"></lucide-user>
            <ion-label class="text-xs">Perfil</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->

<!-- <ion-header [translucent]="true">
  
    <ion-title>Inicio de de sesion</ion-title>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="Input with clear button"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter text to see clear button"
        value="Default value"
      >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
        label="Input with clear on edit"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder="Enter text, leave the input, come back and type to clear"
      >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input
        label="Password input"
        labelPlacement="stacked"
        type="password"
        placeholder="Enter text, leave the input, come back and type to clear"
      >
      </ion-input>
    </ion-item>
  </ion-list>

</ion-content> -->
