
<ion-content>
  <!-- Título para la lista de servicios -->
  <ion-list-header>
    <ion-label color="primary" class="header-title">Servicios disponibles</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngIf="services.length === 0">
      <ion-label>
        <h2>No hay servicios Agregados</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let service of services">
      <ion-label>
        <h2>{{ service.name }}</h2>
        <p>Price: {{ getFormattedPrice(service.price) }}</p>
      </ion-label>
    <!-- Botón para editar el servicio -->
    <ion-button color="secondary">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

    <!-- Botón para eliminar el servicio -->
    <ion-button color="danger">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  
    </ion-item>
  </ion-list>
  
  <!-- Botón flotante para agregar servicios -->
  <ion-fab id="present-alert" horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

  <!-- FORMULARIO PARA CREAR SEVICIO -->
  <!-- <ion-button id="present-alert">Agregar servicio</ion-button> -->
  <ion-alert
    trigger="present-alert"
    header="Ingrese el Servicio"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>