<ion-header>
  <h1 class="titulo">Reservar</h1><!-- Barra de progreso -->
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-button expand="full" [routerLink]="['/reservar/seleccionarbarbero']">
    INICIAR UNA RESERVA
  </ion-button>
</ion-content> -->
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservar
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-card  class="ticket-card" color="light" >
    <ion-card-header>
      <ion-card-title class="ticket-title">Reservas Activas</ion-card-title>
     </ion-card-header> 
     <ion-card-subtitle class="ticket-info">
        Peluquero: {{ reserva.nombre }}<br>
        Fecha: {{ reserva.fecha }}<br>
        Hora: {{ reserva.hora }}
      </ion-card-subtitle>
  </ion-card>

  <div class="boton">
  <ion-button class="reservar" [routerLink]="['/reservar/seleccionarbarbero']">
    INICIAR UNA RESERVA
  </ion-button>
</div>
  
</ion-content>

