<ion-content class="ion-padding" >
 

      <div class="profile-picture">
        <ion-thumbnail>
          <img [src]="user?.detail?.photo || 'assets/images/person.svg'" alt="Foto de perfil"/>
        </ion-thumbnail>
        <ion-button fill="clear" class="edit-button" (click)="openImageOptionsAlert(user.id)">
          <ion-icon class="iconos" name="camera" style="font-size: 1.5em; margin-right: 8px;"></ion-icon>
        </ion-button>
      </div>

      <div class="name">
        <ion-card-header>
          <ion-card-title class="nombre"><strong>{{ user?.name }}</strong></ion-card-title>
        </ion-card-header>
      </div>




      <div class="apodo">
        <div class="otra">
          <ion-icon *ngIf="userRole == 'peluquero'" class="iconos" slot="start" name="person-outline" style="font-size: 1.5em; margin-right: 8px;"></ion-icon>
          <label *ngIf="userRole == 'peluquero'" class="subtitle">Apodo</label>
        </div>
        <ion-item *ngIf="userRole == 'peluquero'">
          <ion-label class="info">{{ user?.detail?.nickname || user?.name }}</ion-label>
        </ion-item>
      </div>
      <br>

      <div class="telefono">
        <div class="otra">
          <ion-icon class="iconos" slot="start" name="call-outline" style="font-size: 1.5em; margin-right: 8px;"></ion-icon>
          <label class="subtitle">Teléfono</label>
        </div>
        <ion-item>
          <ion-label class="info">{{ user?.detail?.phone || '0000000000' }}</ion-label>
        </ion-item>
      </div>
      <br>

      <div class="email">
        <div class="otra">
          <ion-icon class="iconos" slot="start" name="mail-outline" style="font-size: 1.5em; margin-right: 8px;"></ion-icon>
          <label class="subtitle">Email</label>
        </div>
        <ion-item>
          <ion-label class="info">{{ user?.email }}</ion-label>
        </ion-item>
      </div>
      <br>

      <div class="edit">
        <ion-button class="editar" (click)="openEditAlert(user)">
          Editar<ion-icon slot="start" name="pencil"></ion-icon>
        </ion-button>
      </div>
      <div class="cerrar">
        <ion-button class="logout"  (click)="logoutAlert()">
          Cerrar sesión<ion-icon slot="start" name="log-out" ></ion-icon>
        </ion-button>
      </div>
    
</ion-content>