




// .profile-picture {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 0px;
//   position: relative;
//   --size: 160px;
//   --border-radius: 100%;

// }

// .name {
//   display: flex;
//   justify-content: center;
//   margin-top: 0px;
//   margin-bottom: 20px;
// }



// ion-card-header {
//   padding-top: 10px;
//   padding-bottom: 15px;
//   padding-left: 0px;
//   padding-right: 0px;
// }

// ion-thumbnail {
//   width: 160px;
//   height: 160px;
//   border-radius: 100%;
// }

// .thumbnail-circle {
//   width: 160px;
//   height: 160px;
//   border-radius: 50%;
//   overflow: hidden;
// }

// .editar {
//   margin-top: 5px;
//   display: block;
//   --background: #9E9E9E; /* Typical Android gray */
//   --border-radius: 10px;
//   width: 70%;
//   height: 30px;
//   font-weight: bold;
//   color: white;
// }

// .logout {
//   margin-top: 5px;
//   display: block;
//   --background: red;
//   --border-radius: 10px;
//   width: 70%;
//   height: 30px;
//   font-weight: bold;
//   color: white;
// }

// .edit {
//   display: flex;
//   justify-content: center;
// }

// .cerrar {
//   display: flex;
//   justify-content: center;
// }

// ion-card {
//   border: 200px black;
// }

// .otra {
//   display: flex;
//   align-items: center;
// }

// .subtitle {
//   margin: 0;
//   font-size: 20px;
//   font-weight: bold;
//   font-family: "Arial", sans-serif;
//   color: black;

//   @media (prefers-color-scheme: dark) {
//     color: white;
//   }
// }

// .info {
//   margin-top: 0px;
//   margin-bottom: 0px;
//   margin-right: 0px;
//   margin-left: 15px;
// }

// .iconos {
//   color: black;

//   @media (prefers-color-scheme: dark) {
//     color: white;
//   }
// }
// .camara {
//   position: absolute; /* Cambia a posición absoluta para poder posicionarlo dentro del contenedor padre */
//   top: 120px; /* Ajusta la distancia desde abajo */
//   right: 80px; /* Ajusta la distancia desde la derecha */
//   background: #002EFF;
//   border-radius: 100%;
//   width: 50px;
//   height: 50px;
  
//   //  margin-right: 20px;
// }
// // .icon-camara {
//   // font-size: 2.9rem; 
//   // margin-top: 0px;
//   // display: block;
//   // width: 100%;
//   // height: 100%;
//   // font-weight: bold;
//   // color: white;
// // }

// ion-item {
 

//   @media (prefers-color-scheme: dark) {
//     --background: transparent;
//   }
// }

// .iconocamara {
//     color: white;
// }

// .menu-icon {
//   position: absolute; /* Para posicionar el elemento relativo a la ventana del contenido */
//   top: 10px; /* Distancia desde la parte superior */
//   right: 10px; /* Distancia desde la derecha */
//   z-index: 100; /* Asegura que esté por encima de otros elementos */
// }

// .horario {
//   margin-top: 0px;
//   display: block;
//   --background: #002EFF;
//   --border-radius: 10px;
//   width: 70%;
//   height: 30px;
//   font-weight: bold;
//   color: white;
// }

// .schedule{
//   display: flex;
//   justify-content: center;
// }