<ion-content class="ion-padding center-content">
  <ion-title>
    Registrar Peluquero
  </ion-title>
  <ion-list class="form-container">
    <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Escribe tu Nombre"></ion-input>
    <br>
    <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder="Escribe tu Apellido"></ion-input>
    <br>
    <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Escribe tu Correo electrónico" type="email"></ion-input>
    <br>
    <ion-input label="Número Whatsapp" label-placement="floating" fill="outline" placeholder="Escribe tu Número de Whatsapp" type="number"></ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Escribe tu Contraseña" helperText="Mínimo 8 caracteres" type="password"></ion-input>
    <br>
    <ion-input label="Confirmar Contraseña" label-placement="floating" fill="outline" placeholder="Confirma tu Contraseña" type="password"></ion-input>
    <br>
    <!-- Acordeón para el campo de selección de rol -->
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Seleccionar Rol</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-radio-group [(ngModel)]="selectedRol">
            <ion-item *ngFor="let rol of roles">
              <ion-label>{{ rol }}</ion-label>
              <ion-radio slot="start" [value]="rol"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>

    <ion-button href="login" expand="block" class="register-button">Regístrate</ion-button>
  </ion-list>
</ion-content>


