
  
  /* Estilos para el contenido */
  .resumen {
    padding: 16px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 16px; /* Margen alrededor del contenido */
  }
  
  /* Estilos para los párrafos */
  p {
    font-size: 16px;
    margin: 8px 0; /* Espaciado entre párrafos */
  }
  
  /* Estilos para la lista de servicios */
  ul {
    padding-left: 20px; /* Espaciado a la izquierda */
    margin: 8px 0; /* Espaciado entre lista y párrafos */
  }
  
  
  
  .botones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Espaciado superior para separar de la lista */
  }
  
  ion-button {
    --background: #002EFF;
  --border-radius: 10px;
  width: 80%;
  font-weight: bold;
  margin: 5px; /* Espaciado entre botones */
  }

  ion-button {
    color: white; /* Texto blanco por defecto */
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
  }

  .cancelar{
    display: block;
    --background: red;
    --border-radius: 10px;
    width: auto;
    height: auto;

    font-weight: bold;
    color: white;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header-title-reservar {
    text-align: center;
    flex-grow: 1;
  }
  
  .cancelar {
    margin-left: auto;
  }