<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo-container">
    <img src="assets/images/neo.png" alt="Barbería Logo">
  </div>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu próxima cita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>📅 <strong>{{ nextAppointment.fecha }}</strong> a las <strong>{{ nextAppointment.hora }}</strong></p>
      <p>✂ Peluquero: <strong>{{ nextAppointment.peluquero }}</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" [routerLink]="['/reservar/seleccionarbarbero']">
          <ion-icon slot="icon-only" name="create"></ion-icon>
          Reservar Cita
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" (click)="editarPerfil()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
          Editar Perfil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estilos de Corte</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let image of images">
          <ion-card>
            <img [src]="image" alt="Estilo de corte" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>