<ion-header [translucent]="true">
  <!-- Header content removed as per original -->
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Logo y Título -->
  <div class="logo-container">
    <img src="assets/images/neo.png" alt="Barbería Logo">
  </div>
    <div class="date-container">
      
    </div>
    <h3>Ultima Cita</h3>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        Peluquero: {{ client.peluquero }}<br>
        Fecha: {{ client.fecha }}<br>
        Hora: {{ client.hora }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

