<ion-content class="background-content">
  <div class="background-pattern"></div>

  <div class="container">
    <div class="logo-container">
      <img src="assets/images/neo.png" alt="Barbería Logo">
    </div>

    <div class="form-box">

      <h1>Restablecer contraseña</h1>

      <form (ngSubmit)="passwordNew()">
        <ion-label for="password">Nueva contraseña</ion-label>
        <ion-item>
          <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Ingresa tu nueva contraseña"
            pattern="^(?=.*\d).{8,}$" required>
          </ion-input>
        </ion-item>
        <!-- <div class="alert">
          <ion-lable>Mínimo 8 caracteres</ion-lable>
          <ion-lable>Al menos un número</ion-lable>
        </div> -->
        
        <br>
        <ion-label for="password">Confirmar contraseña</ion-label>
        <ion-item>
          <ion-input name="confirmPassword" type="password" [(ngModel)]="confirmPassword"
            placeholder="Confirmar tu nueva contraseña" pattern="^(?=.*\d).{8,}$" required
            >
          </ion-input></ion-item>
        <!-- <ion-label *ngIf="confirmPassword && password !== confirmPassword">Las contraseñas no coinciden</ion-label> -->
        <br>
        <ion-button type="submit" [disabled]="!isPasswordValid()" shape="round" expand="block">Actualizar
          contraseña</ion-button>

      </form>
    </div>
  </div>
</ion-content>