<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Fila
    </ion-title>
  </ion-toolbar> -->
  
</ion-header>


<ion-content [fullscreen]="true">

  
  <!-- Logo y Título -->
  <div class="logo-container">
    <img src="assets/images/neo.png" alt="Barbería Logo">
  </div>
  <div class="title-container">
    <h2>Agenda</h2>
    <div class="date-container">
      <h3>Septiembre 3</h3>
      
    </div>
  </div>

  <!-- Acordeones de Citas -->
  <ion-accordion-group>
    <!-- Cita 1 -->
    <ion-accordion value="first">
      <ion-item slot="header" lines="none">
        <ion-label>#1 Pepe Sanz 8:00 AM</ion-label>
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item lines="none">
          <ion-label>
            <p>Info</p>
            <h3>Corte de Pelo, Barba</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Precio</p>
            <h3>$20.000</h3>
          </ion-label>
        </ion-item>
        <div class="button-container">
          <ion-button color="primary">Hecho</ion-button>
          <ion-button color="danger">Cancelar</ion-button>
        </div>
      </div>
    </ion-accordion>

    <!-- Cita 2 -->
    <ion-accordion value="second">
      <ion-item slot="header" lines="none">
        <ion-label>#2 Lalo Garza 9:00 AM</ion-label>
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item lines="none">
          <ion-label>
            <p>Info</p>
            <h3>Servicio de Barba</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Precio</p>
            <h3>$15.000</h3>
          </ion-label>
        </ion-item>
        <div class="button-container">
          <ion-button color="primary">Hecho</ion-button>
          <ion-button color="danger">Cancelar</ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
