<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "user.name"}}</ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <div class="profile-picture">
        <img [src]="photos.photo" alt="Foto de perfil">
      </div>
      <ion-list>
        <ion-item>
          <ion-label>Nombre: {{"user.name" }}</ion-label>
          <ion-text  ></ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono: {{" user.phone" }}</ion-label>
          <ion-text  ></ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email: {{ "user.email" }}</ion-label>
          <ion-text type="email"></ion-text>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="mostrarUsuario()" color="medium">
        <ion-icon slot="start" name="pencil" ></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
