.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }

  .centrar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
//   .profile-picture ion-img {
//     --border-radius: 100%;
//     width: 200px;
//     height: 200px;
//   }

.edit-button {
    --ion-color: var(--ion-color-medium); /* Cambia el color del icono */
    position: absolute; /* Cambia a posición absoluta para poder posicionarlo dentro del contenedor padre */
    top: 10px; /* Ajusta la distancia desde arriba */
    right: 10px; /* Ajusta la distancia desde la derecha */
  }

  ion-thumbnail {
    --size: 160px;
    --border-radius: 100%;
    
  }
  
