<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-card>
    <ion-card-content>
      <!-- <div class="profile-picture">
        <ion-img [src]="user?.detail?.photo || 'assets/images/messi.png'" alt="Foto de perfil"></ion-img>
      </div> -->
      

      <div class="profile-picture">
      <ion-thumbnail >
        <img  src='assets/images/profile.png'  />
      </ion-thumbnail>

      </div>
      <ion-button  fill="clear" class="edit-button" class="centrar">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>

      <ion-button (click)="takePicture()">Tomar Foto</ion-button>
      <img [src]="imageUrl" *ngIf="imageUrl" />
      <ion-button (click)="uploadImage()" *ngIf="imageUrl">Subir Imagen</ion-button>

      <div class="centrar">
        <ion-card-header  >
          <ion-card-title>{{ user?.name}}</ion-card-title>
        </ion-card-header>
        </div>

      <ion-list>
        <ion-item>
          <ion-label>Apodo: {{ user?.detail?.nickname || user?.name}}</ion-label>
          <ion-text  ></ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono: {{ user?.detail?.phone || '0000000000' }}</ion-label>
          <ion-text  ></ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email: {{ user?.email }}</ion-label>
          <ion-text type="email"></ion-text>
        </ion-item>
      </ion-list>
      <!-- Este botón debería llamar a actualizar y dentro de esa función se llama a mostrar perfil cuando se le de guardar esos datos actualizados-->
      <ion-button expand="block" (click)="openEditAlert(user)" color="medium">
        <ion-icon slot="start" name="pencil" ></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
