.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
//   .profile-picture ion-img {
//     --border-radius: 100%;
//     width: 200px;
//     height: 200px;
//   }


  ion-thumbnail {
    --size: 160px;
    --border-radius: 100%;
    
  }
