/* Centrar el contenido */
.center-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

/* Contenedor del formulario */
.form-container {
    width: 92%;
    max-width: 500px;
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

/* Botón de registro */
.register-button {
    --background: #002EFF; 
    --border-radius: 8px; 
    --padding: 12px; 
}

/* Desplazamiento suave para ion-content */
ion-content {
    scroll-behavior: smooth; 
}

/* Estilo para el título de la página */


/* Estilo para los labels de los inputs */
ion-label {
    color: #ccc;
}

/* Contenedor para el logo */
.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0px 0;
}

/* Imagen del logo */
.logo-container img {
    width: 170px;
    height: 170px;
}

/* Estilo para el input (campo de correo electrónico) */
.input-box {
    color: black;
    --background: #fff; 
    --padding-start: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    width: 100%; 
    font-size: 16px; 
    margin-bottom: 20px; 
}

.enviar {
    margin-top: 0px;
    display: block;
    --background: #002EFF;
    --border-radius: 10px;
    width: 70%;
    height: 30px;
    font-weight: bold;
    color: white;
  }

  .boton{
    display: flex;
    justify-content: center;
  }