<ion-content class="background-content">
  <div class="background-pattern">

    <div class="container">
      <app-logo></app-logo>

      <div class="form-box">
        <h1>Escribir el código</h1>
        <p>
          Hemos enviado por correo electrónico a <strong>{{email}}</strong> el
          código que hace falta para restablecer tu contraseña.
        </p>

        <form [formGroup]="recoverPasswordForm" (ngSubmit)="verifyCode()">
          <ion-item>
            <!-- Correo -->
            <ion-input formControlName="code" type="number" name="code" placeholder="Ingresa el Código">
            </ion-input>
          </ion-item>
          <br />

          <!-- Botón  -->
          <ion-button [disabled]="recoverPasswordForm.invalid || loading" type="submit" shape="round" expand="block">
            <ng-container *ngIf="!loading; else cargando"> Velidar </ng-container>
            <ng-template #cargando>
              <ion-spinner name="bubbles"></ion-spinner>
            </ng-template>
          </ion-button>
        </form>
      </div>
      <div class="footer">
        <div class="link-footer">
          <!-- Botón nuevo PIN -->
          <ion-button [disabled]="timer > 0" (click)="requestNewCode()" id="requestNewCodeLink" fill="clear"
            shape="round" expand="block">
            {{ timer > 0 ? `Reenviar nuevo PIN en: ${timer} segundo${(timer === 1
            ? '' : 's')}` : 'Enviar un nuevo PIN' }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>