<ion-content class="background-content">
  <div class="background-pattern"></div>

  <div class="container">
    <div class="logo-container">
      <img src="assets/images/neo.png" alt="Barbería Logo" />
    </div>

    <div class="form-box">
      <h1>Escribir el código</h1>
      <p>
        Hemos enviado por correo electrónico a {{email}} el código que hace
        falta para restablecer tu contraseña.
      </p>

      <form (ngSubmit)="verifyCode()">
        <ion-item>
          <ion-input
            [(ngModel)]="code"
            placeholder="Ingresa el Código"
            type="number" 
            maxlength="6"
            name="code"
            required
          >
          </ion-input>
        </ion-item>
        <br />

        <ion-button
          type="submit"
          shape="round" expand="block"
          [disabled]="!isCodeValid()"
          >Verificar</ion-button
        >
      </form>
    </div>
    <div class="form-footer">
      <div class="link-footer">
        <p *ngIf="timer > 0"> Tiempo restante: 00:{{ timer }}</p>
        <ion-button *ngIf="timer === 0" (click)="requestNewCode()" id="requestNewCodeLink" fill="clear" shape="round" expand="block">Reenviar código</ion-button>
      </div>
    </div>
  </div>
</ion-content>
