<ion-content class="background-content">
  <div class="background-pattern"></div>

  <div class="container">
    <div class="logo-container">
      <img src="assets/images/neo.png" alt="Barbería Logo" />
    </div>

    <div class="form-box">
      <form (ngSubmit)="requestCode()">
        <h1>Recupera tu cuenta</h1>

        <p >Ingresa tu correo electrónico y te enviaremos un código para que recuperes el acceso a tu cuenta.</p>
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            placeholder="Ingrese su correo electrónico"
            type="email"
            name="email"
            required
          >
          </ion-input>
        </ion-item>
        <br />
        <ion-button
          shape="round"
          expand="block"
          type="submit"
          [disabled]="!email"
          >Buscar</ion-button
        >
      </form>
    </div>
    <div class="form-footer">
      <div class="link-footer">
        <ion-button [routerLink]="['/login']" fill="clear" shape="round" expand="block" >Volver al iniciar sesión</ion-button>
      </div>
    </div>
  </div>
</ion-content>
