<ion-content class="background-content">
  <div class="background-pattern">

    <div class="container">
      <app-logo></app-logo>

      <div class="form-box">
        <form [formGroup]="recoverPasswordForm" (ngSubmit)="requestCode()">
          <h1>Recupera tu cuenta</h1>

          <p>Ingresa tu correo electrónico y te enviaremos un código para que recuperes el acceso a tu cuenta.</p>
          <!-- Correo -->
          <ion-item>
            <ion-input formControlName="email" type="email" name="email" placeholder="Ingrese su correo electrónico"
              required>
            </ion-input>
          </ion-item>
          <br />
          <!-- Botón de Buscar -->
          <ion-button [disabled]="recoverPasswordForm.invalid || loading" type="submit" shape="round" expand="block">
            <ng-container *ngIf="!loading; else cargando">
              Buscar
            </ng-container>
            <ng-template #cargando>
              <ion-spinner name="bubbles"></ion-spinner>
            </ng-template>
          </ion-button>
        </form>
      </div>
      <div class="footer">
        <div class="link-footer">
          <!-- Botón volver -->
          <ion-button [routerLink]="['/login']" fill="clear" shape="round" expand="block">Volver al iniciar
            sesión</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>