ion-label {
  color: white;
}

.link-container a {
  color: white;
  display: block;
  margin-top: 5px;
}

.custom-button {
  gap: 5px;
  display: flex;
  flex-direction: column;  
}

.btn-register {
  --background: #44403c;
  // --border-radius: 10px;
}


.form-box{
  border-radius: 20px 20px 0 0;
}


.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;

  ion-button {
    margin: 0;
    padding: 0;

  }
  

}

.social-links img {
  width: 32px;
  height: 32px;
}