<ion-content class="background-content">
  <div class="background-pattern"></div>

  <div class="container">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/images/neo.png" alt="Barbería Logo" />
    </div>
    <!-- Área de contenido -->
    <div class="form-box">
      <form (ngSubmit)="login()">
        <h1>Iniciar sesión</h1>
        <ion-label for="email">Correo electrónico</ion-label>
        <ion-item>
          <ion-input
            name="email"
            type="email"
            [(ngModel)]="email"
            placeholder="Ingrese su correo electrónico"
            required
          >
          </ion-input>
        </ion-item>

        <br />

        <ion-label for="password">Contraseña</ion-label>
        <ion-item>
          <ion-input
            name="password"
            type="password"
            [(ngModel)]="password"
            placeholder="Ingrese su contraseña"
            required
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <div class="link-container">
          <a [routerLink]="['/recover-password']">¿Olvidaste tu contraseña?</a>
        </div>
        <br />

        <div class="custom-button">
          <ion-button 
          type="submit" 
          shape="round" 
          class="btn-login"
          [disabled]="!email || !password"
            >Iniciar</ion-button
          >

          <!-- <ion-button
            [routerLink]="['/register']"
            shape="round"
            class="btn-register"
          >
            <ion-icon slot="start" name="person"></ion-icon>
            Registrarse
          </ion-button> -->
        </div>
      </form>
    </div>
    <div class="form-footer">
      <div class="link-footer">
        <ion-button [routerLink]="['/register']" fill="clear" shape="round" expand="block" ><ion-icon slot="start" name="person"></ion-icon>Registrarse</ion-button>
      </div>
      <!-- <ion-label>
          <h3>O inicia sesión con</h3>
        </ion-label>
      <div class="social-links">
        <ion-button fill="clear" shape="round" expand="block">
          <img width="64" height="64" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/>
        </ion-button>
        <ion-button fill="clear" shape="round" expand="block" >
          <img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
        </ion-button>
      </div> -->

    </div>
  </div>
</ion-content>
