ion-content {
  --background: linear-gradient(to bottom right, #292524, #44403c);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Fondo dinámico con degradado radial */
.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, rgba(239, 68, 68, 0.5), transparent 70%),
              radial-gradient(circle at bottom right, rgba(96, 165, 250, 0.5), transparent 70%);
  z-index: 1;
  filter: brightness(1);
}

/* Logo */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  z-index: 2;
}

ion-img {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  ion-img {
    width: 180px;
    height: 180px;
  }
}

/* Eslogan o texto descriptivo */
.tagline {
  text-align: center;
  color: white;
  font-size: 16px;
  z-index: 2;
  margin-bottom: 20px;
  padding: 0 15px;
  font-style: italic;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 18px;
  }
}

/* Botones */
.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Espacio entre los botones */
  z-index: 2;
}


.button-container2 {
 margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.iniciarsesion {
  --background: #002EFF;
--border-radius: 10px;
width: 170px;
font-weight: bold;
height: 45px;
 /* Espaciado entre botones */

}

.registrar {
  --background: #44403c;
  --border-radius: 10px;
  width: 170px;
  font-weight: bold;
  height: 45px;
 /* Espaciado entre botones */

}

@media (min-width: 768px) {
  .landing-btn {
    padding: 12px 25px;
  }
}
