/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Importar la fuente desde Google Fonts */


// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Roboto';
  // src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  // src: url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Definir la fuente global para la app */
:root {
  --ion-font-family: 'Roboto', sans-serif;
}

/* Aplicar la fuente a todo el cuerpo de la app */
html, body {
  font-family: var(--ion-font-family);
}

/* Asegurar que todos los textos hereden la fuente */
* {
  font-family: var(--ion-font-family);
}

ion-item {
  --border-radius: 10px;
}
h1 {
  text-align: center;
  font-size: min(24px, 6vw, 10vmin);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
  max-width: 100%;
}

.background-content {
    --background: linear-gradient(to bottom right, #292524, #44403c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow-y: auto;
}
/* Fondo dinámico con degradado radial */
.background-pattern {
    // overflow-y: auto;
    z-index: -1;
    // filter: brightness(1);
    background: radial-gradient(circle at top left, rgba(239, 68, 68, 0.5), transparent 70%),
                radial-gradient(circle at bottom right, rgba(96, 165, 250, 0.5), transparent 70%);
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 0 20px;
    overflow-y: auto; 
}

.logo-container {
    width: 200px;
    height: 200px;
}

.form-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0px 20px 20px 20px;
    width: 100%;
    max-width: 500px;
    position: relative;
    
}

.footer{
  background: rgba(255, 255, 255, 0.164);
  border-radius: 0 0 20px 20px;
  width: 100%;
  max-width: 500px;
  position: relative;
  text-align: center;

}

.link-footer ion-button {
  color: white;
  text-transform: none;
}

.offline-modal {
  --border-radius: 10px;
}

.input-container {
  // display: flex; 
  // flex-direction: column; 
  width: 100%;
}

.input-alert {
  border-top: 1px solid gray; 
  // width: 100%; 
}

.alert-container {
  margin: 2px 0;
}

.alert-container  {
  display: flex;
  flex-direction: column;
  ion-note {
    font-size: 12px !important;
    color: red !important;
  }
}
