@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 15px 0;
}

.progress {
    height: 100%;
    background-color: #3b5998; /* Cambia el color según tu preferencia */
    border-radius: 5px;
}

ion-card {
    margin: 10px;
    text-align: center;
    height: 300px; /* Establece una altura fija para las tarjetas */
}

ion-card img {
    width: 100%;
    height: 165px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 10px;
}

h1{
    font-family: "Aclonica";
    font-size: bold;
    text-align: center;
    margin-top: 10px;
}

.nombre{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.alias{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    color: black;
    margin-left: 3px;
    margin-right: 3px;
}

.texto{
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
