
  
ion-list {
    border: 2px solid #ccc;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
  }
  
  ion-item {
    margin: 8px 0;
    border-bottom: 1px dotted #ccc;
  }
  
  // ion-fab-button {
  //   --background: black;
  // }
  
  ion-tab-bar {
    --background: lightgray;
  }
  
  ion-tab-button {
    color: black;
  }
  
  ion-fab-button {
    --background: #002EFF;
    --color: white;
  }