<ion-header >
  <h1>Reservar</h1>
  <ion-progress-bar value="0.33"></ion-progress-bar> <!-- Barra de progreso -->

</ion-header>

<ion-content>

  <br>
  <p class="texto">Selecciona un Barbero</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let barber of barbers" (click)="selectBarber(barber)">
        <ion-card>
          <img [src]="barber?.detail?.photo || 'assets/images/profile.png'" alt="{{ barber.name }}">
          <div>
            <p class="nombre">{{ barber.name }}</p>
            <p class="alias">{{ barber?.detail?.nickname }}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
